{% extends "base.html" %}
{% block title %}Student Info{% endblock %}

{% block content %}
<div class="row">
  <div class="col-md-6 offset-md-3">
    <h2 class="my-4 text-center fw-bold">Enter Your Info</h2>
    <p class="text-secondary text-center">
      We just verified your identity with face recognition.
      Now please fill out your details for attendance logging.
    </p>

    <form action="{{ url_for('student_bp.submit_student_info') }}" method="post" class="card card-body shadow">
      <div class="mb-3">
        <label for="first_name" class="form-label">First Name:</label>
        <input type="text" name="first_name" id="first_name" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="last_name" class="form-label">Last Name:</label>
        <input type="text" name="last_name" id="last_name" class="form-control" required>
      </div>

      <div class="mb-3">
        <label for="student_num" class="form-label">Student Number:</label>
        <input type="text" name="student_num" id="student_num" class="form-control" required>
      </div>

      <button type="submit" class="btn btn-primary w-100 shadow">
        <i class="bi bi-check2-circle"></i> Submit Info
      </button>
    </form>
  </div>
</div>
{% endblock %}
